{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<style>
    .registerpage{
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    }

    label{
    float: left;
    }

    input{
    float: right;
    width: 200px;
    }

    select{
    float: right;
    }

    #id_address{
    resize: none;
    height: 70px;
    width: 200px;
    float:right;
    }

    #id_gender, #id_language_of_choice{
    width: 200px;
    }

</style>

    <h2 style="text-align: center;">Register</h2>

    {% if form.errors %}
            <p class="alert alert-danger container">There was an error with your form!</p>
                <p class="alert alert-warning container">There was an error with your form!</p>
    {% endif %}
            

    <div class="registerpage container">
    <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <label>Create a Username</label>
            {{ form.username }}

            <br><br>

            <label>First Name</label>
            {{ form.first_name }}

            <br><br>

            <label>Last Name</label>
            {{ form.last_name }}

            <br><br>

            <label>Date of birth</label>
            {{ form.date_of_birth }}

            <br><br>

            <label>Gender</label>
            {{ form.gender }}

            <br><br>

            <label>Language of Choice</label>
            {{ form.language_of_choice }}

            <br><br>

            <label>Address</label>
            {{ form.address }}

            <br><br><br><br>

            <label >Email</label>
            {{ form.email }}

            <br><br>

            <label >Mobile Number</label>
            {{ form.mobile_number }}

            <br><br>

            <label>Create a Password</label>
            {{ form.password1 }}

            <br><br>

            <label>Re-enter your Password</label>
            {{ form.password2 }}

            <br><br>
        <input type="submit" value="Sign up" class="btn btn-primary">
        </form>
    </div>

<script>
    document.getElementById("id_username").setAttribute("placeholder", "Jon123");
    document.getElementById("id_first_name").setAttribute("placeholder", "Jon");
    document.getElementById("id_last_name").setAttribute("placeholder", "Doe");
    document.getElementById("id_address").setAttribute("placeholder", "Street Address");
    document.getElementById("id_email").setAttribute("placeholder", "Jon.Doe@email.com");
    document.getElementById("id_mobile_number").setAttribute("placeholder", "818-111-8181");
    document.getElementById("id_password1").setAttribute("placeholder", "Password");
    document.getElementById("id_password2").setAttribute("placeholder", "Re-Enter Password");
</script>

{% endblock content %}