{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<section class="page-info-section set-bg" data-setbg="../pagehandling/assets/img/bg.jpg">
  <div class="page-info-content">
  <div class="pi-inner">
  <div class="container">
  <h2>About Us</h2>
  <div class="site-breadcrumb">
  <a href="#">Home</a> <i class="fa fa-angle-right"></i>
  <span>About Us</span>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section class="about-section spad">
    <div class="container">
    <div class="row">
    <div class="col-md-6 about-content">
    <h2>FAITH - FORSAKING ALL I TAKE HIM </h2>
     <p class="bold"> FAITH COMES BY HEARING & HEARING BY THE WORD OF GOD. - Rom. 10:17</p>
    <p>Br Noel Vanhaltren formed FAITH group a purely evangelistic group & have been actively involved in ministry since 1985. The ministry was named FAITH abbreviation for "Forsaking All I Take Him". Br Noel, tours around various places in India and abroad to do the Lord's Ministry. He gets invited to numerous countries including USA, Canada, South America, Europe, the Middle East, South East Asia & China.
    </p>
    <p>FAITH MINISTRY POLICY:</p>
    <p>1. We do not accept nor do we give money to do the LORD's Ministry. Each Prayer Partner (active member of Faith Group) spends from his own pocket to do Lord's Ministry:</p>
    <p>2. Everybody should attend his/her own Church regularly.</p>
    <p>3. We do not form any Church, nor plan to form a Church, but our Ministry is to help Christians grow spiritually</p>
    <p>4. We do not Baptize anyone, but direct them to nearby Church which believes in full gospel</p>
  
    <a href="#" class="site-btn sb-wide">join with us</a>
    </div>
    <div class="col-md-6 about-img">
    <img src="img/about.jpg" alt="">
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="services-section spad">
    <div class="container">
    <div class="row">
    <div class="col-sm-4">
    <div class="service-box">
    <h4><i class="fa fa-fire"></i>Our Values</h4>
    <p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="service-box">
    <h4><i class="fa fa-eye"></i>Our Vision</h4>
    <p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="service-box">
    <h4><i class="fa fa-heart"></i>Our Mission</h4>
    <p>Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </section>



    <div class="content">

    <div class="container" style="border: 1px solid black;">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <h2>About us</h2>
          <p class="mb-5">FAITH - FORSAKING ALL I TAKE HIM
FAITH COMES BY HEARING & HEARING BY THE WORD OF GOD Rom. 10:17

Br Noel Vanhaltren formed FAITH group a purely evangelistic group & have been actively involved in ministry since 1985. The ministry was named FAITH abbreviation for "Forsaking All I Take Him". Br Noel, tours around various places in India and abroad to do the Lord's Ministry. He gets invited to numerous countries including USA, Canada, South America, Europe, the Middle East, South East Asia & China.

FAITH MINISTRY POLICY:
1. We do not accept nor do we give money to do the LORD's Ministry. Each Prayer Partner (active member of Faith Group) spends from his own pocket to do Lord's Ministry
2. Everybody should attend his/her own Church regularly
3. We do not form any Church, nor plan to form a Church, but our Ministry is to help Christians grow spiritually
4. We do not Baptize anyone, but direct them to nearby Church which believes in full gospel

Brothers who join Br Noel in the ministry are called Faith Prayer Partners. At present there are more than 50 prayer partners in India.

Faith Foundation is a part of FAITH, it is a registered charitable Trust established to help widows and orphans. Faith Foundation is helping widows and orphans since 1998. Faith Foundation organizes free Medical Check-up camps during Lent period for underprivileged people.

FAITH MINISTRY PRAYER REQUESTS:
Urgent prayer requests are received via SMS mobile no. +91 8888888888 and circulated to all FAITH Prayer Partners who pray regularly for these requests.</p>
        </div>

            <div class="col-md-6 container" style="border: 1px solid black; padding: 15px; ">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo illum laudantium magni perferendis repellat tempore? Accusamus eos error modi, officia omnis provident! Delectus dolores error eum magnam officiis vero.
        </div>
      </div>

{% endblock content %}