{% extends 'base.html' %}
{% block title %}Event Registration{% endblock %}
{% block content %}

<style>
    label{
    float:left;
    }
    input, select{
    float:right;
    }
</style>

<h1 class="text-center">Events</h1>

<br><br>

{% if messages %}
<ul>
    {% for message in messages %}
    <div>
        <p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
    </div>
    {% endfor %}
</ul>
{% endif %}


<div class="container" style="border: 1px solid transparent; width: 500px;">
<form action = "" method = "post">
	{% csrf_token %}

    <label>First name </label>
	{{form.first_name }}

    <br><br>

    <label>Last name </label>
    {{form.last_name }}

    <br><br>

    <label>Mobile number </label>
    {{form.mobile_number }}

    <br><br>

    <label>Select event</label>
    {{form.event }}

    <br><br>

    <label>Number of family members</label>
    {{form.count_of_family }}

    <br><br>

    <input class="btn btn-primary" style="float:right;" value="Register" type="submit">
</form>

</div>


{% endblock content %}